<div class="bg-white p-6 rounded-2xl space-y-4 transition hover:shadow-sm max-w-3xl flex gap-4">

  <div class="size-10 rounded-xl bg-secondary flex justify-center items-center">
    <ng-icon class="text-xl" name="lucideMapPin" />
  </div>

  <div class="flex-1 flex justify-between items-center">

    <div class="space-y-1">
      <div class="flex items-center gap-3">
        <h3 class="text-sm font-semibold capitalize"> {{ address().label }} </h3>
        @if (address().isDefault) {
          <div class="bg-primary text-white py-1.5 px-3 rounded-full text-xs font-semibold flex items-center gap-1">
            <ng-icon name="lucideCheck" />
            Default
          </div>
        }
      </div>
      <p class="text-sm text-[#6b7280]"> {{ address().street }}, {{ address().city }} </p>
      <p class="text-sm text-[#6b7280]"> {{ address().state }}, {{ address().zipCode }} </p>
    </div>

    <div class="flex items-center gap-2">
      <button (click)="editAddress(address())" class="py-1.5 px-3 text-[#6b7280] bg-blue-50 rounded-xl cursor-pointer transition-colors hover:bg-blue-100 hover:text-blue-700">
        <ng-icon name="lucidePencil" />
      </button>
      <button (click)="deleteAddress(address().id)" class="py-1.5 px-3 text-[#6b7280] bg-red-50 rounded-xl cursor-pointer transition-colors hover:bg-red-100 hover:text-red-700">
        <ng-icon name="lucideTrash" />
      </button>
    </div>

  </div>

</div>
