<div class="bg-white rounded-2xl shadow-sm group transition-all hover:shadow-md">

  <div class="relative overflow-hidden p-3">
    <span class="bg-[#F97316] text-white py-1 px-3 rounded-full uppercase text-[10px] font-semibold">
      {{ product().discount }}
    </span>
    <a [routerLink]="['/products', product().id]">
      <img
        [src]="product().image"
        class="w-full h-full aspect-square transition-all duration-300 group-hover:scale-105"
        [alt]="product().title"
      />
    </a>
  </div>

  <div class="space-y-1.5 p-3.5">

    <h3 class="text-sm text-[#3F3F46]">
      {{ product().title }}
    </h3>

    <div class="flex items-center gap-1">
      <ng-icon class="star-icon text-xs" name="lucideStar" />
      <span class="text-xs font-medium text-[#1B3022]"> {{ product().ratingAvg }} </span>
      <span class="text-[#6B7280] text-xs"> ({{ product().review }}) </span>
    </div>

    <div class="flex justify-between items-center">
      <div class="flex items-center gap-1">
        <span class="text-[#3F3F46] font-medium"> ${{ product().price }} </span>
        <span class="text-xs text-[#6B7280]"> {{ product().unit }} </span>
        <span class="text-xs text-[#6B7280] line-through"> ${{ product().originalPrice }} </span>
      </div>
      <button class="size-8 rounded-full bg-[#F97316] flex justify-center items-center text-white cursor-pointer">
        <ng-icon class="text-base" name="lucidePlus" />
      </button>
    </div>

  </div>

</div>
