<header class="bg-white border border-[#E5E7EB] py-4">
  <div class="container">

    <div class="flex justify-between">

      <a routerLink="/" class="flex items-center gap-2">
        <ng-icon class="text-2xl" name="lucideBike" />
        <span class="text-[#1B3022] text-[22px] font-medium"> Instacart </span>
      </a>

      <nav class="hidden lg:flex items-center gap-10">

        <ul class="flex items-center gap-6">
          <li>
            <a routerLink="/home" routerLinkActive="transition-colors text-[#F97316]" class="text-[#52525C]"> Home </a>
          </li>
          <li>
            <a routerLink="/products" routerLinkActive="transition-colors text-[#F97316]" class="text-[#52525C]"> Products </a>
          </li>
          <li>
            <a routerLink="/deals" routerLinkActive="transition-colors text-[#F97316]" class="text-[#52525C]"> Deals </a>
          </li>
        </ul>

        <div class="bg-[#FFF7ED] p-3 rounded-2xl flex items-center gap-2 w-md">
          <ng-icon class="text-base text-[#71717B]" name="lucideSearch" />
          <input type="search" class="w-full outline-none" placeholder="Search for groceries..." />
        </div>

      </nav>

      <div class="flex items-center gap-5">

        <div (click)="showDrawer()" class="size-8 rounded-xl p-2 relative cursor-pointer">
          <ng-icon class="text-2xl" name="lucideShoppingCart" />
          <span class="size-5 bg-[#F97316] text-white rounded-full text-[10px] flex justify-center items-center absolute -top-2 -right-2"> 2 </span>
        </div>

        <div class="relative" #popoverContainer>
          <button (click)="togglePopover()" class="flex items-center gap-2 cursor-pointer">
            <div class="size-8 bg-[#032E15] text-white rounded-full flex justify-center items-center">
              A
            </div>
            <ng-icon name="lucideChevronDown" />
          </button>

          @if (isOpen()) {
            <div class="absolute z-100 w-55 right-0 mt-4 bg-white border border-[#e5e7eb] rounded-lg shadow-md">
              <!-- top -->
              <div class="border-b border-[#e5e7eb] py-2 px-4">
                <p class="text-sm font-medium"> ahmed yasser </p>
                <p class="text-xs"> ay@gmail.com </p>
              </div>
              <!-- content -->
              <ul>
                <li>
                  <a routerLink="/orders" (click)="togglePopover()" class="flex items-center gap-3 px-4 py-2.5 text-[#71717b] text-sm transition-colors hover:bg-[#FFF7ED]">
                    <ng-icon name="lucidePackage" />
                    My Orders
                  </a>
                </li>
                <li>
                  <a routerLink="/addresses" (click)="togglePopover()" class="flex items-center gap-3 px-4 py-2.5 text-[#71717b] text-sm transition-colors hover:bg-[#FFF7ED]">
                    <ng-icon name="lucideMapPin" />
                    Addressess
                  </a>
                </li>
                <li>
                  <a routerLink="/admin" (click)="togglePopover()" class="flex items-center gap-3 px-4 py-2.5 text-[#ea580c] text-sm transition-colors hover:bg-[#FFF7ED]">
                    <ng-icon name="lucideShield" />
                    Admin Panel
                  </a>
                </li>
              </ul>
              <!-- footer -->
              <button class="w-full border-t border-[#e5e7eb] text-[#ea580c] py-2 px-4 flex items-center gap-3 transition-colors hover:bg-[#FFF7ED]">
                <ng-icon name="lucideLogOut" />
                Logout
              </button>
            </div>
          }

        </div>

      </div>

    </div>

  </div>
</header>

<p-drawer [(visible)]="visible" styleClass="w-md!" position="right">

  <ng-template #header>
    <div class="flex items-center gap-2">
      <ng-icon class="text-xl" name="lucideShoppingBag" />
      <h2 class="text-lg font-medium"> Your Cart </h2>
      <span class="bg-secondary py-1 px-3 rounded-full text-xs font-semibold"> 1 items </span>
    </div>
  </ng-template>

  @if(true) {
    <div class="space-y-4">

      <div class="bg-[#FCFAF7] rounded-xl p-3 flex gap-3">
        <img src="/images/products/product-02.png" class="size-16 object-cover" alt="product" />
        <div class="flex-1">
          <h3 class="text-sm font-semibold truncate"> Knorr Cup Soup 70g </h3>
          <p class="text-[#6b7280] text-xs">
            $30.00 / 70g
          </p>
          <div class="flex justify-between items-center mt-2">
            <div class="flex items-center gap-1.5">
              <button class="size-7 bg-white border border-[#E5E7EB] cursor-pointer rounded-lg flex justify-center items-center">
                <ng-icon class="text-sm" name="lucideMinus" />
              </button>
              <span class="text-sm font-semibold w-6 text-center"> 2 </span>
              <button class="size-7 bg-white border border-[#E5E7EB] cursor-pointer rounded-lg flex justify-center items-center">
                <ng-icon class="text-sm" name="lucidePlus" />
              </button>
            </div>
            <div class="flex items-center gap-2">
              <span class="text-sm font-semibold"> $60.00 </span>
              <button class="text-[#6b7280] p-1 transition-colors hover:text-red-500 cursor-pointer">
                <ng-icon name="lucideTrash2" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-[#FCFAF7] rounded-xl p-3 flex gap-3">
        <img src="/images/products/product-02.png" class="size-16 object-cover" alt="product" />
        <div class="flex-1">
          <h3 class="text-sm font-semibold truncate"> Knorr Cup Soup 70g </h3>
          <p class="text-[#6b7280] text-xs">
            $30.00 / 70g
          </p>
          <div class="flex justify-between items-center mt-2">
            <div class="flex items-center gap-1.5">
              <button class="size-7 bg-white border border-[#E5E7EB] cursor-pointer rounded-lg flex justify-center items-center">
                <ng-icon class="text-sm" name="lucideMinus" />
              </button>
              <span class="text-sm font-semibold w-6 text-center"> 2 </span>
              <button class="size-7 bg-white border border-[#E5E7EB] cursor-pointer rounded-lg flex justify-center items-center">
                <ng-icon class="text-sm" name="lucidePlus" />
              </button>
            </div>
            <div class="flex items-center gap-2">
              <span class="text-sm font-semibold"> $60.00 </span>
              <button class="text-[#6b7280] p-1 transition-colors hover:text-red-500 cursor-pointer">
                <ng-icon name="lucideTrash2" />
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <ng-template #footer>

      <div class="space-y-3 pb-3">
        <div class="flex justify-between">
          <span class="text-[#6b7280] text-sm"> Subtotal </span>
          <span class="font-medium text-sm"> $60.00 </span>
        </div>
        <div class="flex justify-between">
          <span class="text-[#6b7280] text-sm"> Delivery </span>
          <span class="font-medium text-[#22c55e] text-sm"> Free </span>
        </div>
      </div>

      <div class="flex justify-between border-t border-[#e5e7eb] pt-3 mb-3">
        <span class="font-semibold"> Total </span>
        <span class="font-semibold"> $60.00 </span>
      </div>

      <button class="w-full bg-orange-400 text-white font-semibold p-3 rounded-xl flex justify-center items-center gap-2 cursor-pointer transition hover:bg-orange-500">
        Proceed to Checkout
        <ng-icon name="lucideArrowRight" />
      </button>

    </ng-template>
  }
  @else {
    <div class="flex flex-col items-center justify-center h-full gap-4">
      <ng-icon class="text-6xl" name="lucideShoppingBag" />
      <h3 class="text-lg font-medium"> Your cart is empty </h3>
    </div>
  }

</p-drawer>
