::ng-deep .p-drawer-header {
  border-bottom: 1px solid #e5e7eb;
}

::ng-deep .p-drawer-footer {
  border-top: 1px solid #e5e7eb;
}

::ng-deep .p-drawer-content {
  padding: 20px !important;
}

// ::ng-deep .p-popover {
//   width: 220px;
//   border: 1px solid #e5e7eb !important;
//   border-radius: 12px !important;
//   box-shadow: var(--shadow-md) !important;
//   right: 0 !important;
//   left: auto !important;
// }

// ::ng-deep .p-popover-content {
//   padding: 0px !important;
// }
