<form [formGroup]="form" (ngSubmit)="submitForm()" class="flex flex-col gap-5">

  <app-input
    [id]="'name'"
    [label]="'Name'"
    [placeholder]="'Your Name'"
    [control]="form.get('name')"
    formControlName="name"
    [errors]="{
      'required': 'name is required',
      'minlength': 'name must be at least 3 characters',
      'maxlength': 'name must not exceed 30 characters'
    }"
  />

  <app-input
    [id]="'email'"
    [type]="'email'"
    [label]="'Email Address'"
    [placeholder]="'example@gmail.com'"
    [control]="form.get('email')"
    formControlName="email"
    [errors]="{
      'required': 'email is required',
      'email': 'please enter a valid email'
    }"
  />

  <app-input
    [id]="'password'"
    [type]="'password'"
    [label]="'Password'"
    [placeholder]="'********'"
    [control]="form.get('password')"
    formControlName="password"
    [errors]="{
      'required': 'password is required',
      'minlength': 'password must be at least 6 characters'
    }"
  />

  <button type="submit" class="btn-primary">
    @if (isLoading()) {
      <span class="dots">Loading</span>
    }
    @else {
      Sign Up
    }
  </button>

</form>
