<section class="py-10">
  <div class="container flex flex-col gap-6">

  <app-breadcrumb [items]="breadcrumbs()" />

  <a routerLink="/products" class="flex items-center gap-1.5 text-[#6B7280] text-sm">
    <ng-icon name="lucideArrowLeft" />
    <span> Back </span>
  </a>

  <div class="flex items-center bg-white/50 rounded-2xl p-10">
    <div class="w-1/2">
      <span class="bg-[#F97316] text-white py-1 px-3 rounded-full uppercase text-[10px] font-semibold">
        10% OFF
      </span>
      <img src="/images/products/product-01.png" class="w-full max-h-90 object-contain" alt="product" />
    </div>
    <div class="w-1/2 space-y-5">
      <span class="text-[#6B7280] text-xs font-medium"> bakery </span>
      <h3 class="text-3xl font-semibold text-[#1B3022]"> Butter Croissant 100g </h3>
      <div class="flex items-center gap-1">
        <ng-icon class="star-icon text-sm" name="lucideStar" />
        <ng-icon class="star-icon text-sm" name="lucideStar" />
        <ng-icon class="star-icon text-sm" name="lucideStar" />
        <ng-icon class="star-icon text-sm" name="lucideStar" />
        <ng-icon class="star-icon text-sm" name="lucideStar" />
        <span class="text-sm font-medium text-[#1B3022]"> 4.5 </span>
        <span class="text-[#6B7280] text-sm"> (12) </span>
      </div>
      <div class="flex items-center gap-1">
        <span class="text-[#3F3F46] font-semibold text-4xl"> $45.00 </span>
        <span class="text-lg text-[#6B7280] line-through"> $50.00 </span>
      </div>
      <p class="text-sm text-[#6B7280]"> Farm fresh, Rich in protein, Ideal for breakfast and baking </p>
      <p class="text-sm text-[#22C55E] font-medium"> ✓ In Stock (100 available) </p>
      <div class="flex gap-4">
        <div class="border border-[#E5E7EB] rounded-xl flex items-center">
          <button class="p-3 transition-colors hover:bg-secondary cursor-pointer">
            <ng-icon name="lucideMinus" />
          </button>
          <span class="px-5"> 2 </span>
          <button class="p-3 transition-colors hover:bg-secondary cursor-pointer">
            <ng-icon name="lucidePlus" />
          </button>
        </div>
        <button class="bg-orange-400 text-white font-semibold p-3 rounded-xl flex justify-center items-center gap-2 cursor-pointer transition hover:bg-orange-500 w-95">
          <ng-icon name="lucideShoppingCart" />
          Add to Cart
        </button>
      </div>
    </div>
  </div>

  </div>
</section>
