<section>
  <div class="container">

    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">

      @for (item of servicesList(); track item.id) {
        <div class="flex items-center gap-3 bg-white border border-[#E5E7EBCC] rounded-xl p-6 transition-all hover:shadow-sm">
          <div class="size-10 bg-[#FAF7F2] rounded-lg flex justify-center items-center">
            <ng-icon class="text-xl" [name]="item.icon" />
          </div>
          <div class="space-y-1">
            <h3 class="text-[#1B3022] text-xs font-semibold">
              {{ item.title }}
            </h3>
            <p class="text-xs text-[#6B7280]">
              {{ item.subTitle }}
            </p>
          </div>
        </div>
      }
    </div>

  </div>
</section>
