<div class="w-60 h-fit bg-white p-4 rounded-2xl space-y-6">

  <div class="space-y-3">
    <h3 class="text-[#1B3022] text-sm font-semibold">
      Categories
    </h3>
    <div class="space-y-1.5">
      @for (category of categoriesList(); track category.id) {
        <button
          (click)="onCategoryChange(category.value)"
          [class]="selectedCategory() === category.value ? 'bg-[#1B3022] text-white' : 'text-[#6B7280]'"
          class="w-full text-left text-sm py-2 px-3 rounded-md cursor-pointer"
        >
          {{ category.label }}
        </button>
      }
    </div>
  </div>

  <div class="space-y-3">
    <h3 class="text-[#1B3022] text-sm font-semibold">
      Price Range
    </h3>
    <div class="flex flex-col gap-3">
      <input type="number" class="input" placeholder="Min" />
      <input type="number" class="input" placeholder="Max" />
    </div>
  </div>

</div>
