<section class="py-10">
  <div class="container space-y-6">

    <div class="flex justify-between items-center">

      <h1 class="text-2xl text-[#1B3022] font-semibold">
        My Addresses
      </h1>

      <button (click)="showDialog()" class="bg-[#1B3022] text-white py-2 px-4 rounded-xl text-sm font-medium cursor-pointer flex items-center gap-2 transition-colors hover:bg-[#1B3022]/90">
        <ng-icon name="lucidePlus" />
        Add Address
      </button>

    </div>

    <div class="flex flex-col gap-5">
      @for (address of addressessList(); track address.id) {
        <app-address-card [address]="address" (edit)="editAddress($event)" />
      }
    </div>

  </div>
</section>

<app-address-dialog />
