<div class="flex flex-col gap-6">

  @for (review of reviewsList(); track review.id) {
    <div class="flex gap-4">
      <div class="size-10 rounded-full bg-[#1B30221A] text-[#1B3022] text-sm font-semibold uppercase flex justify-center items-center">
        {{ review.avatar }}
      </div>
      <div class="space-y-3">
        <div class="flex items-center gap-2">
          <h3 class="text-sm text-[#1B3022] font-semibold">
            {{ review.name }}
          </h3>
          <span class="text-xs text-[#52525C]">
            {{ review.date }}
          </span>
        </div>
        <div class="flex items-center gap-1">
          @for (star of [1, 2, 3, 4, 5]; track star) {
            <ng-icon
              class="text-sm"
              name="lucideStar"
              [class.star-icon-active]="star <= review.rating"
              [class.text-[#52525C]!]="star > review.rating"
            />
          }
        </div>
        <p class="text-sm text-[#52525C]">
          {{ review.comment }}
        </p>
      </div>
    </div>
  }

</div>
