<section class="py-10">
  <div class="container space-y-8">

    <div class="space-y-2">
      <h2 class="text-2xl font-semibold text-[#1B3022]"> Browse Categories </h2>
      <p class="text-sm text-[#6B7280]"> Find exactly what you need using </p>
    </div>

    <swiper-container #swiperRef init="false">
      @if (isLoading()) {
        @for (i of [1,2,3,4,5,6,7,8,9]; track i) {
          <swiper-slide>
            <div class="flex flex-col gap-3 justify-center items-center pt-4">
              <!-- Image skeleton -->
              <p-skeleton shape="square" size="6rem" class="rounded-2xl"></p-skeleton>
              <!-- Text skeleton -->
              <p-skeleton width="5rem" height="0.75rem"></p-skeleton>
            </div>
          </swiper-slide>
        }
      }
      @else {
        @for (category of categoriesList(); track category._id) {
          <swiper-slide>
            <div class="flex flex-col gap-3 justify-center items-center pt-4">
              <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
                <img [src]="category.image" class="w-full object-cover" [alt]="category.name" />
              </div>
              <h3 class="text-[#52525C] text-xs font-medium">
                {{ category.name }}
              </h3>
            </div>
          </swiper-slide>
        }
      }
    </swiper-container>

  </div>
</section>
