<section class="py-10">
  <div class="container">

    <div class="space-y-2">
      <h2 class="text-2xl font-semibold text-[#1B3022]"> Browse Categories </h2>
      <p class="text-sm text-[#6B7280]"> Find exactly what you need using </p>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-7 2xl:grid-cols-9 gap-8 mt-8">

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-01.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Fruits & Vegetables </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-02.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Personal Care </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-03.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Pantry Staples </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-04.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Bakery </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-05.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Beverages </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-06.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Meat & Seafood </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-07.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Snacks </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-08.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Frozen Foods </h3>
      </div>

      <div class="space-y-3">
        <div class="size-26 bg-orange-100 p-2 rounded-2xl flex justify-center items-center transition-all hover:ring-2 hover:ring-orange-300">
          <img src="/images/category-09.png" class="w-full object-cover" alt="category" />
        </div>
        <h3 class="text-[#52525C] text-xs font-medium"> Baby Care </h3>
      </div>

    </div>

  </div>
</section>
