<footer class="bg-[#1B3022] py-10">
  <div class="container space-y-8">

    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 text-white">

      <div class="space-y-4">
        <div class="flex items-center gap-2">
          <ng-icon class="text-xl" name="lucideBike" />
          <span class="text-[22px] font-medium"> Instacart </span>
        </div>
        <p class="text-white/70 text-sm">
          Bringing fresh, organic groceries straight
          from local farms to your doorstep. Nourish
          your home with Earth's finest.
        </p>
        <div class="flex items-center gap-3">
          <div class="size-9 rounded-lg bg-white/10 flex items-center justify-center">
            <ng-icon class="text-lg" name="lucideFacebook" />
          </div>
          <div class="size-9 rounded-lg bg-white/10 flex items-center justify-center">
            <ng-icon class="text-lg" name="lucideX" />
          </div>
          <div class="size-9 rounded-lg bg-white/10 flex items-center justify-center">
            <ng-icon class="text-lg" name="lucideInstagram" />
          </div>
        </div>
      </div>

      <div class="space-y-4">
        <h2 class="text-sm font-semibold uppercase"> Quick Links </h2>
        <ul class="flex flex-col gap-3">
          <li>
            <a href="" class="text-white/70 text-sm"> All Products </a>
          </li>
          <li>
            <a href="" class="text-white/70 text-sm"> Flash Deals </a>
          </li>
          <li>
            <a href="" class="text-white/70 text-sm"> Track Order </a>
          </li>
          <li>
            <a href="" class="text-white/70 text-sm"> Delivery Partner </a>
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h2 class="text-sm font-semibold uppercase"> Customer Service </h2>
        <ul class="flex flex-col gap-3">
          <li>
            <a href="" class="text-white/70 text-sm"> My Account </a>
          </li>
          <li>
            <a href="" class="text-white/70 text-sm"> Order History </a>
          </li>
          <li>
            <a href="" class="text-white/70 text-sm"> Addresses </a>
          </li>
          <li>
            <a href="" class="text-white/70 text-sm"> Help Center </a>
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h2 class="text-sm font-semibold uppercase"> Contact Us </h2>
        <ul class="flex flex-col gap-3">
          <li class="text-white/70 text-sm flex items-center gap-3">
            <ng-icon name="lucideMapPin" />
            123 Green Valley Rd, Portland
          </li>
          <li class="text-white/70 text-sm flex items-center gap-3">
            <ng-icon name="lucidePhone" />
            +1 (111) 123-4567
          </li>
          <li class="text-white/70 text-sm flex items-center gap-3">
            <ng-icon name="lucideMail" />
            hello@example.com
          </li>
        </ul>
      </div>

    </div>

    <div class="border-t border-white/20 pt-6 flex items-center flex-col sm:flex-row justify-between gap-5">
      <p class="text-white/50 text-xs">
        © 2026 Ahmed Yasser. All rights reserved.
      </p>
      <ul class="flex items-center gap-4">
        <li>
          <a href="" class="text-white/50 text-xs">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="" class="text-white/50 text-xs">
            Terms of Service
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
