<section class="bg-linear-to-r from-[#F97316] to-[#EA580C]">
  <div class="p-10 text-white flex flex-col gap-3 justify-center items-center text-center">
    <div class="flex items-center gap-2">
      <ng-icon class="text-2xl" name="lucideZap" />
      <h1 class="text-3xl font-semibold"> Flash Deals </h1>
      <ng-icon class="text-2xl" name="lucideZap" />
    </div>
    <p class="text-white/80 max-w-md">
      Limited-time offers on your favorite organic products.
      Grab them before they're gone!
    </p>
  </div>
</section>
