<section class="py-10">
  <div class="container">

    <div class="bg-white shadow-sm rounded-3xl py-20 px-10">

      <div class="max-w-2xl mx-auto text-center space-y-4">

        <div class="size-16 rounded-xl shadow-sm flex justify-center items-center mx-auto">
          <ng-icon class="text-3xl" name="lucideMail" />
        </div>

        <h2 class="text-2xl lg:text-3xl text-[#1B3022] font-semibold">
          Subscribe to our Newsletter
        </h2>

        <p class="text-[#6B7280] max-w-lg mx-auto">
          Get weekly updates on fresh produce, seasonal offers, and exclusive discounts right to your inbox.
        </p>

        <div class="flex flex-col sm:flex-row gap-4 max-w-md mx-auto">
          <input type="email" class="input" placeholder="Enter your email address" />
          <button class="btn-primary px-8">
            Subscribe
          </button>
        </div>

      </div>

    </div>

  </div>
</section>
