<section class="py-10">
  <div class="container space-y-8">

    <div class="flex justify-between items-center">

      <div class="space-y-2">
        <h2 class="text-2xl font-semibold text-[#1B3022]"> Popular Products </h2>
        <p class="text-sm text-[#6B7280]"> Top-rated products this season </p>
      </div>

      <a routerLink="/products" class="flex items-center gap-1 text-[#F97316] text-sm font-semibold">
        View All
        <ng-icon class="text-base" name="lucideArrowRight" />
      </a>

    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
      @for (product of productsList(); track product.id) {
        <app-product-card [product]="product" />
      }
    </div>

  </div>
</section>
