<section class="py-10">
  <div class="container space-y-6">

    <h1 class="text-2xl text-[#1B3022] font-semibold"> My Orders </h1>

    <div class="flex items-center gap-2">
      @for (tab of tabsList(); track $index) {
        <button (click)="onTabChange(tab)" [class]="tab === selectedTab() ? 'bg-[#1B3022] text-white' : 'bg-white text-[#6B7280]'" class="py-2 px-4 rounded-xl text-sm font-medium cursor-pointer">
          {{ tab }}
        </button>
      }
    </div>

    <div class="flex flex-col gap-5">

      @for (order of filterOrders(); track order.orderId) {
        <app-order-card [order]="order" />
      } @empty {
        <div class="flex flex-col items-center gap-4 py-5">
          <ng-icon class="text-6xl text-[#e5e7eb]!" name="lucidePackage" />
          <h2 class="text-primary text-lg font-semibold"> No orders yet </h2>
          <p class="text-sm text-[#6b7280]"> Start shopping to see your orders here </p>
          <a routerLink="/products" class="bg-[#1B3022] text-white py-2 px-4 rounded-xl text-sm font-medium">
            Start Shopping
          </a>
        </div>
      }
    </div>

  </div>
</section>
