<form [formGroup]="form" (ngSubmit)="submitForm()" class="flex flex-col gap-5">

  <app-input
    [id]="'email'"
    [type]="'email'"
    [label]="'Email Address'"
    [placeholder]="'example@gmail.com'"
    [control]="form.get('email')"
    formControlName="email"
    [errors]="{
      'required': 'email is required',
      'email': 'Please enter a valid email'
    }"
  />

  <app-input
    [id]="'password'"
    [type]="'password'"
    [label]="'Password'"
    [placeholder]="'********'"
    [control]="form.get('password')"
    formControlName="password"
    [errors]="{
      'required': 'password is required'
    }"
  />

  <button type="submit" class="btn-primary">
    @if (isLoading()) {
      <span class="dots">Loading</span>
    }
    @else {
      Sign In
    }
  </button>

</form>
